@import "../../../assets/scss/variable";

.ButtonTwitterFollow {
  margin-top: 30px;

  a {
    background-color: $COLOR_SECONDARY;
    border-radius: 5px;
    color: $COLOR_WHITE;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 13px 15px 13px 45px;
    position: relative;

    &::before {
      background-image: url("../../../assets/images/twitter.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: 16.5px;
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }
  }
}

.SectionShareSns {
  align-items: center;
  background-color: $COLOR_PRIMARY;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;

  &__title {
    border-right: 1px solid $COLOR_SECONDARY;
    color: $COLOR_WHITE;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 40px;
    margin-right: 30px;
    padding-right: 30px;
  }

  &__nav {
    ul {
      align-items: center;
      display: flex;

      li {
        border: 1px solid $COLOR_SECONDARY;
        border-radius: 50%;
        height: 40px;
        width: 40px;

        &:not(:first-of-type) {
          margin-left: 10px;
        }

        a {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          width: 100%;

          img {
            height: auto;
            width: 20px;
          }
        }
      }
    }
  }
}

.PostDetails {
  background-color: $COLOR_WHITE;
  border: 1px solid $COLOR_SECONDARY;
  border-radius: 10px;
  overflow: hidden;

  &__thumb {
    background-color: $COLOR_PRIMARY;
    height: 150px;
  }

  &__contents {
    padding: 30px;
  }

  &__time {
    color: $COLOR_PRIMARY;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    padding-left: 25px;
    position: relative;

    &::before {
      background-image: url("../../../assets/images/time_bk.svg");
      background-position: center;
      content: "";
      height: 15px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
    }
  }

  &__title {
    color: $COLOR_PRIMARY;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 40px;
    margin-top: 20px;
  }

  &__category {
    margin-top: 20px;
  }

  &__article {
    margin-top: 40px;
  }
}
