@import "../variable";

.CardPost {
  background-color: $COLOR_PRIMARY;
  border: 1px solid $COLOR_SECONDARY;
  border-radius: 10px;
  width: 100%;

  &__wrapper {
    align-items: flex-start;
    display: flex;
    padding: 30px;
  }

  &__details {
    flex: 1;
  }

  &__title,
  &__time,
  &__category {
    color: $COLOR_WHITE;
    letter-spacing: 0.1em;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  &__time {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 20px;
    padding-left: 25px;
    position: relative;

    &::before {
      background-image: url("../../images/time_wh.svg");
      content: "";
      height: 15px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
    }
  }

  &__category {
    margin-top: 20px;
  }

  &__thumb {
    background-color: $COLOR_SECONDARY;
    border-radius: 5px;
    height: 120px;
    margin-left: 30px;
    overflow: hidden;
    width: 120px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
