@import "../assets/scss/variable";
@import "../assets/scss/_mixin.scss";

.NavBreadcrumb {
  margin-bottom: 30px;

  @include MQ("sm") {
    margin-bottom: 15px;
  }

  ul {
    align-items: center;
    display: flex;

    @include MQ("sm") {
      overflow: scroll;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    li {
      &:not(:first-of-type) {
        margin-left: 10px;
      }

      a {
        background-color: $COLOR_PRIMARY;
        border: 1px solid $COLOR_SECONDARY;
        border-radius: 15px;
        color: $COLOR_WHITE;
        display: block;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 12px;
        max-width: 200px;
        overflow: hidden;
        padding: 9px 15px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include MQ("sm") {
          font-size: 10px;
          line-height: 11px;
          padding: 9px 10px 9px 11px;
        }

        &.nuxt-link-exact-active {
          font-weight: 700;
        }
      }

      &.home {
        a {
          padding-left: 36px;
          position: relative;

          @include MQ("sm") {
            padding-left: 33px;
          }

          &::before {
            background-image: url("../assets/images/home.svg");
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            height: 13px;
            left: 11px;
            position: absolute;
            top: calc(50% - 1px);
            transform: translateY(-50%);
            width: 15px;

            @include MQ("sm") {
              height: 11px;
              top: calc(50% - 2px);
              width: 13px;
            }
          }
        }
      }
    }
  }
}
