@import "../assets/scss/_variable";
@import "../assets/scss/_mixin";

.NavCategory {
  margin-bottom: 30px;
  width: 100%;

  @include MQ("sm") {
    margin-bottom: 15px;
  }

  ul {
    align-items: center;
    display: flex;
    -ms-overflow-style: none;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      &:not(:first-of-type) {
        margin-left: 15px;
      }

      a {
        background-color: $COLOR_BASE;
        border: 1px solid $COLOR_WHITE;
        border-radius: 20px;
        color: $COLOR_WHITE;
        display: block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 14px;
        padding: 12px 20px;

        @include MQ("sm") {
          font-size: 12px;
          line-height: 12px;
          padding: 8px 15px;
        }

        &.nuxt-link-exact-active {
          background-color: $COLOR_WHITE;
          color: $COLOR_BASE;
        }
      }
    }
  }
}
