@import "../assets/scss/_variable";
@import "../assets/scss/_mixin";

.SectionPostArticle ::v-deep {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $COLOR_PRIMARY;
    font-weight: 500;
    letter-spacing: 0.1em;
    word-break: break-all;
  }

  h1,
  h2 {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-left: 25px;
    position: relative;

    @include MQ("sm") {
      font-size: 18px;
      line-height: 32px;
      padding-left: 18px;
    }

    &::before {
      background-color: $COLOR_PRIMARY;
      border-radius: 3px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;

      @include MQ("sm") {
        width: 3px;
      }
    }
  }

  h3 {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-left: 25px;
    position: relative;

    @include MQ("sm") {
      font-size: 16px;
      line-height: 32px;
    }

    &::before,
    &::after {
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 50%;
    }

    &::before {
      background-color: $COLOR_PRIMARY;
      height: 10px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
    }

    &::after {
      background-color: $COLOR_WHITE;
      height: 5px;
      left: 5px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 5px;
    }
  }

  h4 {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 10px;
    margin-top: 30px;

    @include MQ("sm") {
      font-size: 16px;
      line-height: 32px;
    }
  }

  h5,
  h6 {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 20px;

    @include MQ("sm") {
      font-size: 14px;
      line-height: 30px;
    }
  }

  p {
    color: $COLOR_PRIMARY;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 32px;

    @include MQ("sm") {
      font-size: 14px;
      line-height: 30px;
    }

    & + p {
      margin-top: 15px;

      @include MQ("sm") {
        margin-top: 10px;
      }
    }

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
    }
  }

  blockquote {
    margin-top: 15px;

    p {
      color: $COLOR_GRAY;
      font-size: 14px;
      line-height: 30px;
      padding-left: 25px;
      position: relative;

      @include MQ("sm") {
        font-size: 12px;
        line-height: 28px;
        padding-left: 18px;
      }

      &::before {
        background-color: $COLOR_GRAY;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;

        @include MQ("sm") {
          width: 2px;
        }
      }
    }
  }

  ul,
  ol {
    margin-top: 15px;

    li {
      color: $COLOR_PRIMARY;
      font-size: 16px;
      line-height: 32px;
      padding-left: 15px;
      position: relative;

      @include MQ("sm") {
        font-size: 14px;
        line-height: 30px;
      }

      &::before {
        background-color: $COLOR_PRIMARY;
        border-radius: 50%;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
      }
    }
  }

  pre {
    border-radius: 5px;
    margin: 30px 0 0 0;

    @include MQ("sm") {
      margin: 15px 0 0 0;
    }

    code {
      font-size: 14px;
      line-height: 24px;

      @include MQ("sm") {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }

  hr {
    border: none;
    border-bottom: 2px dashed $COLOR_SECONDARY;
    margin-top: 30px;

    @include MQ("sm") {
      border-bottom: 1px dashed $COLOR_SECONDARY;
      margin-top: 15px;
    }
  }

  * {
    &:first-child {
      margin-top: 0;
    }
  }
}
