@import "../assets/scss/_variable";
@import "../assets/scss/_mixin";

.TagPostCategory {
  background-color: $COLOR_SECONDARY;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 12px;
  padding: 9px 14px 9px 15px;

  @include MQ("sm") {
    font-size: 10px;
    padding: 7px 12px 7px 13px;
  }
}
